
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue-100: #2377CC;
  --blue-200: #3B82F62E; 
  --blue-300: #2377CC99;

  --white: #FFFFFF;

  --black-100: #272B2D;
  --black-200: #32353A;

  --gray-100: #8B949E;
  --gray-200: #707375;
  --gray-50: #D9D9D9;
}
