@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* neutral color */
  --color-neutral-100: #272b2d;
  --color-neutral-90: #32353a;
  --color-neutral-70: #4f5863;
  --color-neutral-50: #868f9e;
  --color-neutral-40: #9e9e9e;
  --color-neutral-30: #c2c2c2;
  --color-neutral-10: #ffffff;

  /* Primary Colors */
  --color-primary-80: #a45838;
  --color-primary-70: #f86b0b;
  --color-primary-60: #f7a521;
  --color-primary-50: #d1d910;
  --color-primary-40: #fabe6b;
  --color-primary-30: #f6b953;
  --color-primary-20: #f4c0ab;

  --color-primary-blue-80: #0f0f2d;
  --color-primary-blue-70: #1c1f3a;
  --color-primary-blue-60: #1f2a4d;
  --color-primary-blue-50: #1d3195;
  --color-primary-blue-40: #4f6edb;
  --color-primary-blue-30: #7f8ddb;
  --color-primary-blue-20: #d1dbf5;

  /* Secondary Colors */
  --color-secondary-80: #0f7728;
  --color-secondary-70: #4a5a38;
  --color-secondary-60: #9a9541;
  --color-secondary-50: #c1cf46;
  --color-secondary-40: #46c772;
  --color-secondary-30: #1baa85;
  --color-secondary-20: #71d0b9;
}
